<header>
  <%= NewRelic::Agent.browser_timing_header rescue "" %>

  <div id="logo">
    <%= image_tag 'housemaderum.jpeg' %>
  </div>
  <%= NewRelic::Agent.browser_timing_header rescue "" %>




</header>