<header>
  <%= NewRelic::Agent.browser_timing_header rescue "" %>
  <div id="logo">
    <%= image_tag 'rum.jpeg' %>
  </div>
  <meta http-equiv="content-type" content="text/html;charset=ISO_8859-1" />



</header>