<header>

  <%= image_tag 'lightrum.jpeg' %>
  <title> This is test case 1 </title>
<style type= "text/css">
h1 {color:red;}
p {color:blue}
</style>
<meta name="description" content="Taste Rum" />


</header>